name: Mundo Deportivo Post RSS to BSKY (Catalan)
description: "A GitHub Action to post RSS feed items to Bluesky (BSKY) using a Python script."

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *' # every 30 minutes

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        pip install atproto fastfeedparser beautifulsoup4 httpx arrow
    - name: Run script
      run: |
        python3 rss2bsky.py "https://www.mundodeportivo.com/feed/rss/home" "${{ secrets.BSKY_HANDLE_CAT }}" "${{ secrets.BSKY_USERNAME_CAT }}" "${{ secrets.BSKY_APP_PASSWORD }}" --path-only "futbol" --path-only "baloncesto" --translate-source "ES" --translate-target "CA" --translation-pretext "Traducció automàtica - Original: " --category-format-file "format.json" --spread-seconds 600
      env:
        DEEPL_AUTH_KEY: ${{ secrets.DEEPL_AUTH_KEY }}
